<div class="project-main-container">
  <a href="#contact">
  <%= image_tag("arrow-down.png",alt:"Scroll Down",class:"arrow-image-projects")%>
  </a>
  <% @projects.each do |project| %>
  <div class="project-card" data-bs-toggle='modal' data-bs-target='#modal<%= project.id%>'>
    <%= image_tag project.image, class: "project-image" %>
    <%#<h2 class="project-name"><%= project.name %><%#</h2>%>
    <h2 class="project-description"><%= project.description %></h2>
    <div class="details-button">
      <h1 class="button-text">Details</h1>
    </div>
  </div>
  <%= render 'modals/project_modal', project: project %>
  <% end %>

  <div class="gif-container d-flex justify-content-center align-items-center">
  <!-- Original pan animation -->
  <%= cl_image_tag("pan_fixed.gif", alt: "Pan cooking", class: "pan-animate") %>


    <div class="text-baloon">
      <div class="speech-bubble">
        <p><strong>Hold Up!</strong> More projects to be released</p>
      </div>
    </div>
  </div>
</div>





