<!DOCTYPE html>
<html>
  <head>
    <title>JoaoPortfolio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <%# MAKE APP OPEN IN HOME SECTION ON MOBILE  %>
    <script>
    document.addEventListener("DOMContentLoaded",function(){
      if(window.innerWidth < 1023){
        window.location.href="#home"
      }
    });
    </script>

    <%# ADD AOS ANIMATION BUT LIMIT SCREEN SIZE SUPPORT TO AVOID BUGGY BEHAVIOUR %>
    <script>
      document.addEventListener("DOMContentLoaded",function(){
        if (window.innerWidth < 768){
          var disableAOS = document.querySelectorAll('[data-aos="flip-left"], [data-aos="fade-right"]')
          disableAOS.forEach(function(element){
            element.removeAttribute("data-aos");
          });
        }else{
          AOS.init();
        }
      });
    </script>

  </head>
  <body>
    <%= render "shared/links_column"%>
    <noscript>
      <div style="background-color: red; color: white; text-align: center; padding: 10px;">
        JavaScript is disabled in your browser. Some features may not work as expected.
      </div>
      <%= render partial: "shared/noscript_scenario/noscript_home_section" %>
      <%= render partial: "shared/noscript_scenario/noscript_about_section" %>
    </noscript>
    <%= yield %>
  </body>
</html>


